<div class="top-bar">
    <div class="top-bar-left">
      <ul class="menu">
        <li class="menu-text">MemoQuotation</li>
        <li>
          <a href="/">Home</a>
        </li>
        <li><a href="/quotes">Manage Quotes</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li><a href="#">Settings</a></li>
      </ul>
    </div>
</div>