<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add a Quote</title>
  </head>
  <body>
    <h1>Add a Quote</h1>
    <form action="/quotes" method="POST">
      <div>
        <label for="text"><p>Quote Text</p></label>
        <textarea name="quote[text]" id="text" cols="30" rows="5"></textarea>
      </div>
      <div>
        <label for="author"><p>Author</p></label>
        <input type="text" id="author" name="quote[author]" />
      </div>
      <div>
        <label for="subject"><p>Subject</p></label>
        <input type="text" id="subject" name="quote[subject]" />
      </div>
      <div>
        <label for="source"><p>Source</p></label>
        <input type="text" id="source" name="quote[source]" />
      </div>
      <div>
        <label for="sourceDetails"><p>Source Details</p></label>
        <input type="text" id="sourceDetails" name="quote[sourceDetails]" />
      </div>
      <div>
        <label for="year"><p>Year</p></label>
        <input type="text" id="year" name="quote[year]" />
      </div>
      <button>Add Quote</button>
    </form>
  </body>
</html>
