<% layout('../partials/boilerplate.ejs') %>
    <h1>Manage Quotes</h1>
    <h2><a href="/quotes/newQuote">Add a Quote</a></h2>

    <% for (let quote of quotesArray) { %>
    <div>
      <a href="/quotes/<%=quote._id%>">
        <h3><%= quote.text %></h3>
        <h4><%= quote.author %></h4>
      </a>
    </div>
    <hr />
    <% } %>

